@{
    ViewBag.Title = "Главная";
}
<main>
    <h2>Новости</h2>
    <div class="news">
        <ul>
            <h3>16.05.2020</h3>
            <li><a href="https://iz.ru/1011926/2020-05-16/v-moskve-za-desiat-let-vyrosla-populiatciia-belok">В Москве за 10 лет выросла популяция белок</a></li>
            <h3>15.05.2020</h3>
            <li><a href="https://iz.ru/1011711/2020-05-15/stado-zubrov-s-novorozhdennymi-zubriatami-uvideli-v-kaluzhskom-zakaznike">Стадо зубров с новорожденными зубрятами увидели в калужском заказнике</a></li>
            <li><a href="https://iz.ru/1011633/2020-05-15/mobilnye-punkty-dlia-vaktcinatcii-zhivotnykh-otkryli-v-saratove-i-engelse">Мобильные пункты для вакцинации животных открыли в Саратове и Энгельсе</a></li>
            <li><a href="https://iz.ru/1011530/2020-05-15/tigr-ubil-zherebenka-iz-stada-fermera-v-khabarovskom-krae">Тигр убил жеребенка из стада фермера в Хабаровском крае.</a></li>
            <h3>14.05.2020</h3>
            <li><a href="https://iz.ru/1011342/2020-05-14/uchenye-dokazali-zarazhaemost-koshek-koronavirusom">Ученые доказали заражаемость кошек коронавирусом.</a></li>
            <li><a href="https://iz.ru/1011228/2020-05-14/kosulia-zabrela-v-poselok-v-iakutii">Косуля забрела в поселок в Якутии</a></li>
            <li><a href="https://iz.ru/1011199/2020-05-14/okhotniki-v-komi-ishchut-pronikshego-v-etnopark-medvedia">Охотники в Коми ищут проникшего в этнопарк медведя.</a></li>
            <li><a href="https://iz.ru/1011117/2020-05-14/tcentr-reabilitatcii-zhivotnykh-v-orenburge-poluchit-novoe-zdanie">Центр реабилитации животных в Оренбурге получит новое здание</a></li>
            </ul>
    </div>
</main>